@import '../../assets/font/font.scss';

.icon {
  position: relative;
  display:flex;
  width: 60px;
  height: 80px;
  margin: 20px;
  border-radius: 10px;
  justify-content: center;

  &__thumbnail {
    background-image: url("../../assets/sprites/file-icon.svg");
    height: 60px;
    width: 60px;
  }

  &__title {
    position: absolute;
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    top: 70px;
  }
}