@import '../../assets/font/font.scss';

.window {
  position: fixed;
  border-radius: 10px;
  font-family: 'Inconsolata';
  user-select: none;

  &__header, &__content {
    border: 2px solid blue;
  }

  &__header {
    position: relative;
    background-color: blue;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    height: 22px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 22px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &__button {
    position: absolute;
    top: 5px;
    height: 11px;
    width: 11px;
    border-radius: 6px;
    cursor: pointer;
    
    &.-exit{
      left: 6px;
      background-color: rgb(253, 37, 22);

      &:hover {
        background-color: rgb(255, 138, 138);
      }
    }

    &.-minimize{
      left: 23px;
      background-color: rgb(255, 187, 0);

      &:hover {
        background-color: rgb(255, 237, 74);
      }
    }

    &.-maximize{
      left: 40px;
      background-color: rgb(21, 206, 67); 
      
      &:hover {
        background-color: rgb(52, 245, 100); 
      }
    }
  }

  &__content {
    min-width: 160px;
    min-height: 80px;
    max-width: 1200px;
    max-height: 640px;
    border-radius: 0 0 10px 10px;
    border-top: 0;

    &.-text {
      background-color: white;
      overflow: scroll;
      overflow-x: hidden;

      .text {
        padding: 20px;
        hyphens: auto;
      }
    }

    &.-picture {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;

      .picture {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &.-folder {
      background-color: white;
      overflow: scroll;

      .folder {

      }
    }
  }

  &__scaleIcon {
    background-image: url("../../assets/sprites/scale-corner.svg");
    position: absolute;
    height: 14px;
    width: 14px;
    right: 4px;
    bottom: 4px;
    border: 0;
  }
  
  &__scaleArea {
    position: absolute;
    height: 18px;
    width: 18px;
    right: -4px;
    bottom: -4px;
    cursor: nwse-resize;
  }
}